.catalog-filters {
    display: block;
    margin-left: auto;
    margin-bottom: 55px;
}

.catalog-list--compact {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
    margin-right: -66px;
}

.catalog-item--compact {
    width: 243px;
    margin-right: 66px;
    margin-bottom: 52px;
}

.catalog-slider__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
