body {
  min-width: 1366px;
  margin: 0;
  padding: 0;

  font-family: $work-sans;
  font-size: 18px;
  font-weight: 500;
  color: $main-color-text;

  background-color: #ffffff;

}

a {
  text-decoration: none;
  color: $main-color-text;
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.show-more {
  font-size: 18px;
  line-height: 21px;
}

.button {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #151c22;
}
